@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --sidebar-color: #570a57;
    --body-color: #2E0249;
    --heading-color: #F806CC;
}

body {
    font-family: 'Poppins', sans-serif;
}

#container {
    min-height: 100vh;
}

#sidebar {
    background-color: var(--sidebar-color);
}

#sidebar img {
    transition: all 0.4s;
}

#sidebar img:hover {
    transform: translateY(-7px);
}

#main {
    background-color: var(--body-color);
}

h3,
h6 {
    color: var(--heading-color);
}

p {
    color: white;
}

#social-icons>a {
    font-size: 1.7rem;
    color: white;
    text-decoration: none;
    transition: all 0.4s;
}

#social-icons>a:hover {
    transform: translateY(-5px);
}

#navbar>a {
    color: white;
    text-decoration: none;
}

#btn-kirim {
    background: linear-gradient(to bottom, #A91079, #570A57);
}

#btn-kirim:focus {
    outline: #570A57 solid 5px;
}

#card-container .row .col-4 img {
    transition: all 0.4s;
}

#card-container .row .col-4 img:hover {
    transform: scale(1.05);
}

.sidebar-responsive {
    width: 300px;
    background-color: #333;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100vh;
    z-index: 999;
    transform: translateX(-300px);
    transition: all .3s ease-out;
}

@keyframes slide {
    from {
        left: -200px;
    }
    to {
        left: 0;
    }
}

@keyframes slide-close {
    from {
        left: 0;
    }
    to {
        left: -200px;
    }
}

.active-sidebar {
    position: fixed;
    display: block;
    height: 100vh;
    width: 250px;
    animation: slide 0.3s;
    z-index: 99;
    position: fixed;
    box-shadow: 13px 10px 39px -3px rgba(0, 0, 0, 0.86);
    -webkit-box-shadow: 13px 10px 39px -3px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: 13px 10px 39px -3px rgba(0, 0, 0, 0.86);
}

.inactive-sidebar {
    position: fixed;
    display: block;
    height: 100vh;
    width: 250px;
    animation: slide-close 0.4s;
    z-index: 99;
    visibility: hidden;
}